header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: -110px;
    background: #fff;
    color: #253965;
    -webkit-transition: .3s;
    transition: .3s;
}
header .top-bar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 40px;
    background: #253965;
}
header .mid-sep {
    position: absolute;
    left: 0;
    bottom: 61px;
    right: 0;
    height: 1px;
    background: #eee;
}
header .bot-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 3px;
    background: #e0e0e0;
    border-top: 1px solid #ccc;
}
header .container, header .settings {
    -webkit-transition: .3s;
    transition: .3s;
}
header .container {
    height: 172px;
}
.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
header .head-tabs {
    position: absolute;
    top: 0;
    left: 20px;
}
header h1 {
    position: absolute;
    left: 20px;
    bottom: 68px;
    height: 55px;
    line-height: 55px;
    font-size: 2rem;
    font-weight: 700;
}
a {
    text-decoration: none !important;
}
.registrationPortalHome {
    line-height: 1.2;
}
 header h1 a {
    background-size: 45px 55px !important;
}
header h1 a {
    display: block;
    padding-left: 53px;
    background: url(../../../assets/eidlogo.svg) no-repeat 0 50%;
    background-size: 40px 55px;
    overflow: hidden;
}
.naslov {
    font-size: 22px !important;
        font-weight: normal !important;
    display: block;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
header nav {
    position: absolute;
    bottom: 0;
    left: 20px;
    list-style: none;
}
header nav>ul {
    display: flex;
    padding-bottom: 4px;
}
ul {
    padding-left: 0px;
}
header nav>ul>li:first-of-type {
    background: transparent;
}
li {
    list-style: none;
}
header nav>ul>li>a {
    padding: 19px 18px 18px;
    display: block;
    font-size: 1.14rem;
}
header nav>ul>li {
    line-height: 20px;
    position: relative;
    background: url(../img/hnsep.svg) 0 50% no-repeat;
    background-size: 1px 13px;
}
header .lang {
    position: absolute;
    top: 0;
    right: 20px;
    color: #fff;
    line-height: 40px;
    width: 80px;
    display: -webkit-box;
    display: flex;
    z-index: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}
header .lang .ll-cont {
    position: relative;
    white-space: nowrap;
}
header .lang .ll-active {
    padding-left: 9px;
    margin-left: 8px;
    margin-right: -8px;
    padding-right: 8px;
    background: url(../img/htsep.svg) 0 50% no-repeat;
    background-size: auto;
    background-size: 1px 13px;
}
header .lang .ll-active a {
    text-align: right;
    display: block;
    padding-right: 20px;
}
 header .lang .ll-active a::after {
    content: "";
    background: url(../../../assets/eIDlangdd.svg) no-repeat;
    background-size: auto;
    background-size: contain;
    position: absolute;
    right: 0;
    width: 8px;
    height: 5px;
    top: calc(50% - 2px);
}
.container a, .container button{
    color: #253965;
}
header .settings {
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 40px;
}
nav li a{
    font-weight: 500;
}